{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Address Book App</h1>
            </div>

            <div id="next">
            {% if addresses %}
		Addresses:
		<ul>
		{% for address in addresses %}
		    <li>
		    	{{ address.firstname }} {{ address.lastname }}
			{% if address.email %}, email:{{address.email}} {% endif %}
			{% if address.mobile %}, mobile:{{address.mobile}} {% endif %}
		    </li>
		{% endfor %}
		</ul>
	    {% endif %}
	    </div>

        </div>
    </div>
{% endblock %}


